h1{
    text-align: center;
    color: rgb(240, 169, 128);
    font-style: italic;
    font-size:7mm;

}

#parafo,#contenido{
    text-align: justify;
    margin: 40px;
}
p1,p2,p3,p4{
    font-weight: bold;

}
h5,#caru{
    color:lightslategray;
    font-weight: bold;
}
#registro{
    font-weight: bold;
    font-size: 7mm;
    margin: 30px;
}

#formulario{
    margin: 50px;
}

img{float:left;
}


